/*
Theme Name:   Accelerate Theme Child
Theme URI:    http://example.com/accelerate-theme-child/
Description:  Accelerate Child Theme - Accelerate
Author:   	Ryoko yamamoto
Author URI:   http://example.com
Template: 	accelerate-theme
Version:      2.0.0
Tags:     	light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  accelerate-theme-child
*/
.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
ver rgba (0, 0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
}

#masthead {
  background: none repeat scroll 0 0 #45ac9d;
}

.button {
	background: none repeat scroll 0 0 #45ac9d;
}

/* blog post on homepage */
.blog-post h4, .twitter-feed h4 {
  font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
  color: #a6a6a6;
  text-transform: uppercase;
  margin: 2em 0 .5em;
}
.blog-post h3, {
	font-size: 1.5em;
}
.read-more-link {
	font-family: 'Montserrat';
	font-weight: 700;
	color: #45ac9d;
	text-transform: uppercase;
}

/* Case Studies */
div#primary.site-content-sidebar {
  margin-left: 300px;
}

.case-study-sidebar {
  float: left;
  width: 300px;
  margin-right: 50px;
  margin-left: 0 auto;
}

.case-study-sidebar h3 {
  font-size: 1.5em;
}

.case-study-sidebar h6 {
  font-size: 0.75em;
  color: #dedbdc;
  margin: 1em auto;
}

.case-study-images {
  float: left;
  width: 600px;
  margin: 30px auto;
}

/* Featured work to home page */
.site-content h4 {
  text-align: left;
}

.homepage-featured-work {
  display: flex;
  align-content: space-between;
}

.individual-featured-work {
  list-style: none;
  margin: 10px;
}

.individual-featured-work h4 a {
  color: #3b3b3b;
}

/* Archive post page*/
.case-study-sidebar .view-project {
  color: #45ac9d;
}

div.case-study-images img {
	width: 100%;
	height: auto;
}

/* Social icons */
div .menu-social-media-nav-container {
  width: ;
}

ul #menu-item-47374, #menu-item-47371, #menu-item-47372 {
  background-color: #4c4c4c;
  border: none;
  padding: 5px;
  text-align: center;
  display:inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 50%;
  width: 40px;
}

.menu-item i._mi {
  color: white;
}

/* Contact Me */
input#nf-field-1.ninja-forms-field.nf-element,input#nf-field-2.ninja-forms-field.nf-element {
  width: 450px;
}

div#nf-field-1-container.nf-field-container.textbox-container.label-above,div#nf-field-2-container.nf-field-container.textbox-container.label-above {
  display: flex;
  align-items: flex-start;
  width: 450px;
}

input#nf-field-4.ninja-forms-field.nf-element {
  background: #45ac9d;
  float: right;
  width: 200px;
}
/* About single page */
 .about h6 {
   width: 80%;
 }

 .service-images {
   float: left;
   width: 30%;
   height: 30%;
   margin: 2em;
 }

/* About archive*/
#about-content {
  width: 60%;
}

#about-content h2{
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.our-services {
  display: inline-block;

  margin-left: 9em;
  margin-right: 9em;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-content {
  text-align: center;
}

.services-content h6 {
margin: 0;
font-weight: 500;
}

#individual-service {
  padding: 2em 0;
  display: flex;
  flex-flow: flex-direction flex-wrap;
}

#individual-service:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.about-sidebar {
  float: left;
  width: 60%;
  margin: 2em 0;
}

.about-sidebar h1 {
  margin: auto;
}

.about-image {
  float: left;
  margin: 2em;
  display: flex;
  align-items: center;
}

.interested {
  width: 100%;
  display: flex;
  justify-content: center;
}

.interested.line {
  width: 100%;
  border-top: : 1px solid #bfbfbf;
  display: flex;
  justify-content: center;
  align-items: center;
}

#interested {
  vertical-align: top;
  margin: 1em 2em;
}

#interested-button {
  margin: 3em 2em;
  vertical-align: bottom;
}

.intersted .button {
  padding: 1.5em 3.75em;
}

#main{
	margin-bottom: 0;
}

/* 404 */
.no-page {
    background: url("img/page-not-found.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
ver rgba (0, 0, 0, 0);
    height: 500px;
}
.no-page-content {
    display: flex;
    align-items: center;
    flex-flow:column nowrap;
}

.no-page-content h1 {
    font-family:  'Londrina Solid', cursive;
}

.no-page-content h2 {
    color: #ffffff;
    margin: 7em 0 2em;
    text-align: center;
}

/* media queries */
@media (min-width: 768px){
  .blog-post {
  	width: 45%;
  	float: left;
  	margin-bottom: 2em;
  }
  .twitter-feed {
    width: 45%;
    float: right;
    margin-bottom: 2em;
  }
}
/* Media Queries */
/***** TABLETS ******/
@media (min-width: 768px) {
	.page-header .top-logo {
	   color: inherit;
	   float: left;
	   margin-bottom: 0;
	}
   .page-header .primary-navigation {
	   float: right;
	   display: block;
	   width: auto;
	   text-align: center;
   }
   .page-header .primary-navigation ul li {
	   display: block;
	   float: left;
   }
   .page-header .primary-navigation ul ul {
	   display: block;
	   opacity: 0;							/* hide all sub menus from view but allow to ease in and out */
	   visibility: hidden;
	   position: absolute;
	   z-index: 9999;
	   -webkit-transition: all 0.5s ease;	/* so it will ease back out */
	   -moz-transition: all 0.5s ease;
	   -o-transition: all 0.5s ease;
	   transition: all 0.5s ease;
	   padding: 0.5em 0;
	   text-indent: 0;
   }
   .page-header .primary-navigation ul ul li {
	   float: none;
	   text-align: left;
   }
   .page-header .primary-navigation ul li:hover > ul {
	   opacity: 1;							/* display sub menus */
	   visibility: visible;
	   -webkit-transition: all 0.5s ease;	/* so it will ease in */
	   -moz-transition: all 0.5s ease;
	   -o-transition: all 0.5s ease;
	   transition: all 0.5s ease;
	   background: #eeeeee;
   }
   .blog .site-content, .single .site-content, .archive .site-content, .sidebar {
	   display: -webkit-box;
	   display: -moz-box;
	   display: -ms-flexbox;
	   display: -webkit-flex;
	   display: flex;
	   flex-flow: row nowrap;
	   justify-content: space-between;
   }
   .main-content {
	   flex-grow: 1;
   }
   #sidebar {
	   display: block;
	   width: 31%;
	   min-width: 15em;
	   border-left: 1px solid #bfbfbf;
	   margin-left: 3em;
   }
   .hero-content h1 {
	   	font-size: 3.3em;
		line-height: 2.25;
   }
	.site-description {
		width: 50%;
		float: left;
	}
	.social-media-navigation {
		float: right;
		width: 20%;
	}
}
/*****  ******/
@media (min-width: 400px) {
	#navigation .pagination {
		display: inline;
	}
}
/***** DESKTOPS ******/
@media (min-width: 1200px) {
  #page {
  	width: 100%;
  }
